# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

##### **Objectives**
- Popular languages used in data science
- Commonly used libraries in data science
- Open-source data science tools
- Arithmetic evaluations performed in python

##### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala
6. Julia

##### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. TensorFlow
6. ggplot2

| Data Science Tools |
|-----|
|Jupyter notebooks|
|Github|
|Kubernetes|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [24]:
# This is a simple arithmetic expression to multiply and then add integers.
(3*4)+5

17

In [30]:
# This will convert 200 minutes to hours by diving by 60.
hours = 200/60
print (f"200 hours is equivalent to:{hours} hours")

200 hours is equivalent to:3.3333333333333335 hours

## Author

Debosmita Basak